/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;

}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
/* Navigation bar:Logo and Image */
#logo{
    margin: 10px 34px;

}
#logo img{
    margin: 2px 6px;
    height: 89px;
}


/* Navigation bar:List Styling */
#navbar ul{
    display: flex;
    font-family: 'Oregano', cursive;
}
 
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width :100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    list-style: none;
    font-size: 1.8rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
/* Home Section */
 #home {
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     height: 854px;
     justify-content:center;
     align-items: center;

}
#home::before {
    content: "";
    background:url('../bg1.jpg') no-repeat center center/cover  ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width :100%;
    z-index: -1;
    opacity: 4;
}
#home h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Ceviche One', cursive;
    font-family: 'Baloo Tammudu 2', cursive;

}
#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Baloo Tammudu 2', cursive;
}
/* Services section */
#services{
    margin: 30px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 1px 4px;
    border-radius: 23px;
    background-color: rgb(243 232 232);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}


/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Ceviche One', cursive;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Ceviche One', cursive;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Ceviche One', cursive;
}
.btn:hover{
    background-color: rgb(151, 91, 91);
}
.center{
    text-align: center;
}
/* section2 */
h3{
    margin: 42px;
    padding: 5px;
    font-size: 52px;
    font-family: 'Ceviche One', cursive;
}
#cont{
    margin: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cont .box1{
    padding: 35px;
}

#cont .box1 img{
    height: 100px;
    margin: auto;
    display: block;
}
/* #section1{
    height: 100px;
    z-index: 0;
} */
#section1::before{
    content: "";
    position: absolute;
    background:url('/pexels-photo-749102.jpeg') no-repeat center center/cover ;
    height: 35%;
    width: 100%;
    z-index: -1;
    opacity: 1;

}
#contact h3{
    margin:62px ;
    padding: 44px;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact .cnt{
    font-size: 1.5rem;

}
#contact .cnt input{
    border: 2px solid rgb(1, 71, 7);
    width: 125%;
    padding: 6px;
    border-radius: 6px;
}
#contact::before{
    content: "";
    background: url('/pexels-photo-207456.jpeg') no-repeat center center/cover ;
    position: absolute;
    height: 64%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
}
#contact form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact form .mess{
    border: 2px solid rgb(1, 71, 7) ;
    width: 128%;
    border-radius: 6px;
}
.cnt #bnt{
    border: 2px solid rgb(1, 71, 7);
    border-radius: 6px;
    width: 130%;
    background-color: black;
    color: whitesmoke;
    padding: 8px;
}
#contact .cnt label{
    font-family: 'Baloo Tammudu 2', cursive;
}
#foot{
    margin: 14px;
    text-align: center;
}